body {
  background-color: #333333; }

a {
  text-decoration: none; }

.hidden {
  display: none; }

@media only screen and (min-width: 1200px) {
  .down-arrow {
    display: none; }
  .up-arrow {
    display: none; }
  .title {
    background: linear-gradient(rgba(138, 38, 11, 0.25), rgba(236, 186, 127, 0.25)), url("../assets/end_grain_thumb.jpg");
    background-position: center;
    background-size: 100%;
    float: left;
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 50vh;
    text-align: center; }
    .title #logo {
      align-self: center;
      max-width: 40%;
      max-height: 90%; }
    .title .contact-container {
      align-self: center;
      width: 100%;
      flex-grow: 1; }
      .title .contact-container .title-button {
        width: 75%;
        transition: ease 0.7s; }
        .title .contact-container .title-button:hover {
          transform: scale(1.25); }
      .title .contact-container .etsy-two {
        display: none; }
  .mission {
    background: linear-gradient(rgba(51, 51, 51, 0.25), rgba(138, 38, 11, 0.25)), url("../assets/planer_shavings_thumb.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    float: right;
    width: 50vw;
    height: 50vh;
    flex-direction: column; }
    .mission h1 {
      font-family: "Open Sans", sans-serif;
      color: white;
      margin: 1%;
      align-self: center; }
    .mission .mission-text {
      align-self: center;
      background-color: rgba(51, 51, 51, 0.75);
      margin: 0;
      color: white;
      font-size: 1.45rem;
      padding: 2%;
      font-family: "Lato", sans-serif; }
  .about-craftsman {
    background: linear-gradient(rgba(138, 38, 11, 0.25), rgba(51, 51, 51, 0.25)), url("../assets/workshop_thumb.jpg");
    background-position: center;
    background-size: cover;
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    overflow: scroll; }
    .about-craftsman .portrait {
      align-self: center;
      max-width: 20%;
      max-height: 100%;
      border-radius: 100%;
      padding: 1%; }
    .about-craftsman h1 {
      font-family: "Open Sans", sans-serif;
      color: white;
      margin: 1%;
      align-self: center; }
    .about-craftsman .about-text {
      background-color: rgba(51, 51, 51, 0.75);
      display: inline-block;
      margin: 0;
      color: white;
      font-size: 1.45rem;
      padding: 2%;
      font-family: "Lato", sans-serif; }
  .gallery {
    background: linear-gradient(rgba(236, 186, 127, 0.25), rgba(138, 38, 11, 0.25)), url("../assets/wood-tree-grain-fallen_thumb.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: right;
    width: 50vw;
    height: 50vh;
    text-align: center;
    vertical-align: middle; }
    .gallery h1 {
      color: white;
      margin: 0;
      font-family: "Open Sans", sans-serif; }
    .gallery .furniture-group {
      display: flex;
      justify-content: center;
      width: 21%;
      height: 80%;
      margin: auto;
      -webkit-box-shadow: 2px 9px 9px -5px rgba(0, 0, 0, 0.53);
      -moz-box-shadow: 2px 9px 9px -5px rgba(0, 0, 0, 0.53);
      box-shadow: 2px 9px 9px -5px rgba(0, 0, 0, 0.53);
      border-radius: 5px;
      transition: ease 0.5s; }
      .gallery .furniture-group a {
        text-decoration: none; }
    .gallery .furniture {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 75%;
      align-self: center; }
      .gallery .furniture .table {
        background: url("../assets/furniture/coffee_table_thumb.jpg");
        background-position: center;
        background-size: cover;
        transition: ease 0.5s;
        display: flex;
        justify-content: center; }
        .gallery .furniture .table h1 {
          align-self: center;
          color: white;
          visibility: hidden;
          text-decoration: none;
          transform: translateY(100%); }
        .gallery .furniture .table:hover {
          background: linear-gradient(rgba(51, 51, 51, 0.75), rgba(51, 51, 51, 0.75)), url("../assets/furniture/coffee_table_thumb.jpg");
          transform: scale(1.1);
          background-position: center;
          background-size: cover; }
          .gallery .furniture .table:hover h1 {
            visibility: visible;
            text-decoration: none; }
      .gallery .furniture .chairs {
        background: url("../assets/furniture/chairs_thumb.jpg");
        background-position: center;
        background-size: cover; }
        .gallery .furniture .chairs h1 {
          padding: 1%;
          vertical-align: middle;
          color: white;
          visibility: hidden;
          text-decoration: none;
          transform: translateY(100%); }
        .gallery .furniture .chairs:hover {
          background: linear-gradient(rgba(51, 51, 51, 0.75), rgba(51, 51, 51, 0.75)), url("../assets/furniture/chairs_thumb.jpg");
          transform: scale(1.1);
          background-position: center;
          background-size: cover; }
          .gallery .furniture .chairs:hover h1 {
            visibility: visible;
            text-decoration: none; }
      .gallery .furniture .boards {
        background: url("../assets/furniture/cutting_board_thumb.jpg");
        background-position: center;
        background-size: cover; }
        .gallery .furniture .boards h1 {
          vertical-align: middle;
          color: white;
          visibility: hidden;
          text-decoration: none;
          transform: translateY(100%); }
        .gallery .furniture .boards:hover {
          background: linear-gradient(rgba(51, 51, 51, 0.75), rgba(51, 51, 51, 0.75)), url("../assets/furniture/cutting_board_thumb.jpg");
          transform: scale(1.1);
          background-position: center;
          background-size: cover; }
          .gallery .furniture .boards:hover h1 {
            visibility: visible;
            text-decoration: none; }
      .gallery .furniture .shelves {
        background: url("../assets/furniture/kitchen_shelves_thumb.jpg");
        background-position: center;
        background-size: cover; }
        .gallery .furniture .shelves h1 {
          padding: 1%;
          vertical-align: middle;
          color: white;
          visibility: hidden;
          text-decoration: none;
          transform: translateY(100%); }
        .gallery .furniture .shelves:hover {
          background: linear-gradient(rgba(51, 51, 51, 0.75), rgba(51, 51, 51, 0.75)), url("../assets/furniture/kitchen_shelves_thumb.jpg");
          transform: scale(1.1);
          background-position: center;
          background-size: cover; }
          .gallery .furniture .shelves:hover h1 {
            visibility: visible;
            text-decoration: none; }
  .email-form-screen {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.7);
    z-index: 500; }
    .email-form-screen .close-email {
      width: 5%;
      margin: 2%;
      float: right; }
    .email-form-screen .form-box {
      align-self: center;
      color: white;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 50%;
      border-radius: 5px;
      background: linear-gradient(rgba(51, 51, 51, 0.5), rgba(255, 255, 255, 0.2)), url("../assets/construction-work-carpenter-tools_thumb.jpg");
      background-position: center;
      background-size: cover;
      -webkit-box-shadow: 10px 10px 70px 5px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 10px 10px 70px 5px rgba(0, 0, 0, 0.5);
      box-shadow: 10px 10px 70px 5px rgba(0, 0, 0, 0.5); }
      .email-form-screen .form-box .form-group {
        margin-bottom: 2%; }
        .email-form-screen .form-box .form-group .control-label {
          margin: 2%; }
        .email-form-screen .form-box .form-group .btn {
          margin: 2%; }
  .footer {
    background-color: #333333;
    margin: 0;
    width: 100%;
    height: 10vh; } }

@media only screen and (max-width: 1199px) and (orientation: landscape) {
  /*---------------------------*/
  .spacer {
    width: 100%;
    flex-grow: 1; }
  .up-arrow {
    margin-top: 8%;
    margin-bottom: 2%;
    margin-left: 85%; }
  .down-arrow {
    margin-top: 2%;
    margin-bottom: 8%;
    margin-left: 85%; }
  /*---------------------------*/
  .title {
    background: linear-gradient(rgba(138, 38, 11, 0.25), rgba(236, 186, 127, 0.25)), url("../assets/end_grain_thumb.jpg");
    background-position: center;
    background-size: 100%;
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    text-align: center; }
    .title #logo {
      align-self: center;
      max-width: 40%;
      max-height: 90%; }
    .title .contact-container {
      align-self: center;
      width: 100%;
      flex-grow: 1; }
      .title .contact-container .title-button {
        width: 75%; }
      .title .contact-container .etsy-two {
        display: none; }
    .title .down-arrow {
      display: none; }
  .mission {
    background: linear-gradient(rgba(51, 51, 51, 0.25), rgba(138, 38, 11, 0.25)), url("../assets/planer_shavings_thumb.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    float: right;
    width: 100vw;
    height: 100vh;
    text-align: center;
    flex-direction: column; }
    .mission h1 {
      font-family: "Open Sans", sans-serif;
      color: white;
      padding: 0 0 1%;
      margin: 1%; }
    .mission .mission-text {
      align-self: center;
      background-color: rgba(51, 51, 51, 0.5);
      margin: 0;
      color: white;
      font-size: 1.75rem;
      padding: 2%;
      font-family: "Lato", sans-serif; }
  .about-craftsman {
    background: linear-gradient(rgba(138, 38, 11, 0.25), rgba(51, 51, 51, 0.25)), url("../assets/workshop_thumb.jpg");
    background-position: center;
    background-size: cover;
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    text-align: center; }
    .about-craftsman .portrait {
      display: none;
      align-self: center;
      text-align: center;
      max-width: 40%;
      max-height: 20%;
      border-radius: 100%;
      margin: 5%; }
    .about-craftsman h1 {
      font-family: "Open Sans", sans-serif;
      color: white;
      margin: 1%;
      text-align: center; }
    .about-craftsman .about-text {
      background-color: rgba(51, 51, 51, 0.75);
      display: inline-block;
      margin: 0;
      color: white;
      font-size: 1.75rem;
      padding: 2%;
      font-family: "Lato", sans-serif; }
  .gallery {
    background: linear-gradient(rgba(236, 186, 127, 0.25), rgba(138, 38, 11, 0.25)), url("../assets/wood-tree-grain-fallen_thumb.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: right;
    width: 100vw;
    height: 100vh;
    text-align: center;
    vertical-align: middle; }
    .gallery h1 {
      color: white;
      margin: 0;
      font-family: "Open Sans", sans-serif; }
    .gallery .furniture-group {
      display: flex;
      justify-content: center;
      width: 21%;
      height: 80%;
      margin: auto;
      -webkit-box-shadow: 2px 9px 9px -5px rgba(0, 0, 0, 0.53);
      -moz-box-shadow: 2px 9px 9px -5px rgba(0, 0, 0, 0.53);
      box-shadow: 2px 9px 9px -5px rgba(0, 0, 0, 0.53);
      border-radius: 5px;
      transition: ease 0.5s; }
      .gallery .furniture-group a {
        text-decoration: none; }
    .gallery .furniture {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 75%;
      align-self: center; }
      .gallery .furniture .table {
        background: url("../assets/furniture/coffee_table_thumb.jpg");
        background-position: center;
        background-size: cover;
        transition: ease 0.5s;
        display: flex;
        justify-content: center; }
        .gallery .furniture .table h1 {
          align-self: center;
          color: white;
          visibility: hidden;
          text-decoration: none;
          transform: translateY(100%); }
      .gallery .furniture .chairs {
        background: url("../assets/furniture/chairs_thumb.jpg");
        background-position: center;
        background-size: cover; }
        .gallery .furniture .chairs h1 {
          padding: 1%;
          vertical-align: middle;
          color: white;
          visibility: hidden;
          text-decoration: none;
          transform: translateY(100%); }
      .gallery .furniture .boards {
        background: url("../assets/furniture/cutting_board_thumb.jpg");
        background-position: center;
        background-size: cover; }
        .gallery .furniture .boards h1 {
          vertical-align: middle;
          color: white;
          visibility: hidden;
          text-decoration: none;
          transform: translateY(100%); }
      .gallery .furniture .shelves {
        background: url("../assets/furniture/kitchen_shelves_thumb.jpg");
        background-position: center;
        background-size: cover; }
        .gallery .furniture .shelves h1 {
          padding: 1%;
          vertical-align: middle;
          color: white;
          visibility: hidden;
          text-decoration: none;
          transform: translateY(100%); }
  .email-form-screen {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.7);
    z-index: 500; }
    .email-form-screen .close-email {
      width: 8%;
      margin: 2%;
      float: right; }
    .email-form-screen .form-box {
      align-self: center;
      color: white;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 75%;
      border-radius: 5px;
      background: linear-gradient(rgba(51, 51, 51, 0.5), rgba(255, 255, 255, 0.2)), url("../assets/construction-work-carpenter-tools_thumb.jpg");
      background-position: center;
      background-size: cover;
      -webkit-box-shadow: 10px 10px 70px 5px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 10px 10px 70px 5px rgba(0, 0, 0, 0.5);
      box-shadow: 10px 10px 70px 5px rgba(0, 0, 0, 0.5); }
      .email-form-screen .form-box .form-group {
        margin-bottom: 2%; }
        .email-form-screen .form-box .form-group .control-label {
          margin: 2%; }
        .email-form-screen .form-box .form-group .btn {
          margin: 2%; } }

@media only screen and (max-width: 1199px) and (orientation: portrait) {
  /*---------------------------*/
  .spacer {
    width: 100%;
    flex-grow: 1; }
  .up-arrow {
    margin-top: 10%;
    margin-bottom: 2%;
    margin-left: 85%; }
  .down-arrow {
    margin-top: 2%;
    margin-bottom: 10%;
    margin-left: 85%; }
  /*---------------------------*/
  .title {
    background: linear-gradient(rgba(138, 38, 11, 0.5), rgba(236, 186, 127, 0.25)), url("../assets/end_grain_rotate.jpg");
    background-position: center;
    background-size: cover;
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    text-align: center; }
    .title #logo {
      max-width: 80%;
      align-self: center; }
    .title .contact-container {
      align-self: center;
      width: 100%;
      flex-grow: 1; }
      .title .contact-container .title-button {
        width: 40%;
        transition: ease 0.7s; }
      .title .contact-container .etsy-one {
        display: none; }
  .mission {
    background: linear-gradient(rgba(51, 51, 51, 0.25), rgba(138, 38, 11, 0.25)), url("../assets/planer_shavings_thumb.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    float: right;
    width: 100vw;
    height: 100vh;
    text-align: center;
    flex-direction: column; }
    .mission h1 {
      font-family: "Open Sans", sans-serif;
      color: white;
      padding: 0 0 1%;
      margin: 1%; }
    .mission .mission-text {
      align-self: center;
      background-color: rgba(51, 51, 51, 0.5);
      margin: 0;
      color: white;
      font-size: 1.5rem;
      padding: 2%;
      font-family: "Lato", sans-serif; }
  .about-craftsman {
    background: linear-gradient(rgba(138, 38, 11, 0.25), rgba(51, 51, 51, 0.25)), url("../assets/workshop_thumb.jpg");
    background-position: center;
    background-size: cover;
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    text-align: center; }
    .about-craftsman .portrait {
      align-self: center;
      text-align: center;
      max-width: 40%;
      border-radius: 100%;
      margin: 5%; }
    .about-craftsman h1 {
      font-family: "Open Sans", sans-serif;
      color: white;
      margin: 1%;
      text-align: center; }
    .about-craftsman .about-text {
      background-color: rgba(51, 51, 51, 0.75);
      display: inline-block;
      margin: 0;
      color: white;
      font-size: 1.5rem;
      padding: 2%;
      font-family: "Lato", sans-serif; }
  .gallery {
    background: linear-gradient(rgba(236, 186, 127, 0.25), rgba(138, 38, 11, 0.25)), url("../assets/wood-tree-grain-fallen_rotate.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: right;
    text-align: center;
    width: 100vw;
    height: 100vh;
    overflow: scroll; }
    .gallery h1 {
      font-family: "Open Sans", sans-serif;
      margin: 1% 1% 3%;
      color: white;
      text-align: center; }
    .gallery .furniture {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 80%;
      align-self: center; }
      .gallery .furniture .furniture-group {
        width: 90%;
        height: 22%;
        display: flex;
        justify-content: center;
        margin: 2% auto;
        -webkit-box-shadow: 2px 9px 9px -5px rgba(0, 0, 0, 0.53);
        -moz-box-shadow: 2px 9px 9px -5px rgba(0, 0, 0, 0.53);
        box-shadow: 2px 9px 9px -5px rgba(0, 0, 0, 0.53);
        border-radius: 5px;
        transition: ease 0.5s; }
        .gallery .furniture .furniture-group h1 {
          align-self: center;
          color: white; }
      .gallery .furniture .table {
        background: url("../assets/furniture/coffee_table_thumb.jpg");
        background-position: center;
        background-size: cover;
        transition: ease 0.5s; }
      .gallery .furniture .chairs {
        background: url("../assets/furniture/chairs_thumb.jpg");
        background-position: center;
        background-size: cover; }
      .gallery .furniture .boards {
        background: url("../assets/furniture/cutting_board_thumb.jpg");
        background-position: center;
        background-size: cover; }
      .gallery .furniture .shelves {
        background: url("../assets/furniture/kitchen_shelves_thumb.jpg");
        background-position: center;
        background-size: cover; }
  .email-form-screen {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.7);
    z-index: 500; }
    .email-form-screen .close-email {
      width: 10%;
      margin: 2%;
      float: right; }
    .email-form-screen .form-box {
      align-self: center;
      color: white;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 90%;
      border-radius: 5px;
      background: linear-gradient(rgba(51, 51, 51, 0.5), rgba(255, 255, 255, 0.2)), url("../assets/construction-work-carpenter-tools_thumb.jpg");
      background-position: center;
      background-size: cover;
      -webkit-box-shadow: 10px 10px 70px 5px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 10px 10px 70px 5px rgba(0, 0, 0, 0.5);
      box-shadow: 10px 10px 70px 5px rgba(0, 0, 0, 0.5); }
      .email-form-screen .form-box .form-group {
        margin-bottom: 2%; }
        .email-form-screen .form-box .form-group .control-label {
          margin: 2%; }
        .email-form-screen .form-box .form-group .btn {
          margin: 2%; } }
